<p id="notice"> <%= flash[:notice] %></p>
<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>

<!-- add edit and back button later -->
<%= link_to 'Edit', edit_book_path(@book.id), class: "links" %> | <%= link_to 'Back', books_path, class: "links" %>