<p id="notice"> <%= flash[:notice] %></p>
<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>

<!-- add edit and back button later -->
<%= link_to 'edit', edit_book_path(@book.id) %> | <%= link_to 'back', books_path %>